<div class="container-fluid footer-class">
  <div class="row align-items-start navbar bg-light row1">
    <div class="col">
      <i class="fas fa-clock-o" id="i1"><label >Fast delivery</label></i>
    </div>
    <div class="col">
      <i class="fas fa-truck"><label>Free shiping</label></i>
    </div>
    <div class="col">
      <i class='fas fa-lock'><label>Safe purchase</label></i>
    </div>
    <div class="col">
      <i class='fas fa-phone'><label>0018/555-665</label></i>
    </div>
    <div class="col">
      <i class='fas fa-envelope'><label>info@onlinesstore.com</label></i>
    </div>
  </div>
</div>


