

  <div class="card display-items" style="width: 14rem;">
      <!--slika   <img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item" style="text-align: center; font-style:initial">MODEL 1</li>

        <li class="list-group-item flex-d justify-content-center" style="text-align: center;">100 </li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link float-right">More</a>
      </div>
  </div>

